* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting (respecting the user's browser) */
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #212121;

    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}

::selection {
    /* Change highlight background color to black */
    background: #212121;
    /* Change highlight text color to white */
    color: #f8f8f8;
}


/* *** General *** */

ul,
a {
    list-style-type: none;
    text-decoration: none;
}

h1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
}

p {
    font-size: 2rem;
    line-height: 1.6;
}



/* *** Header *** */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0 4rem;
}

header a img {
    height: 10rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

header nav ul li a {
    color: #212121;
    font-size: 1.5rem;
    font-weight: 500;
}

header nav ul li a:hover,
header nav ul li a:active {
    font-weight: 600;
}

.btn-mobile-nav {
    display: none;
}


/* *** Main *** */

main {
    display: flex;
    flex-direction: column;
    max-width: 140rem;
    margin: 0 auto;
}

main .section-hero {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    margin: 5rem auto;
}

main .section-hero .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40rem;
    /* justify-content: space-between; */
    align-items: center;
    justify-items: center;
}

main .section-hero .hero .hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}

main .section-hero .hero .hero-text-box h1 span {
    font-weight: 500;
}

main .section-hero .hero-subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .section-hero .hero-subtext .social-icons a i {
    color: #212121;
    font-size: 2rem;
    margin-right: 2rem;
}

main .section-hero .hero .hero-img-box img {
    height: 24rem;
}


/* *** Job *** */

main .section-job {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    padding-top: 10rem;
}

main .section-job .section-job-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

main .section-job .section-job-card-wrapper .section-job-card {
    display: flex;
    flex-direction: column;
}

main .section-job .section-job-card-wrapper .section-job-card .section-job-card-icon {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

main .section-job .section-job-card-wrapper .section-job-card .section-job-card-title {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 1rem;
}

main .section-job .section-job-card-wrapper .section-job-card .section-job-card-description {
    font-size: 1.6rem;
    line-height: 1.6;
}


/* *** Skills *** */

main .section-skills {
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
}

main .section-skills .section-skills-list {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

main .section-skills .section-skills-list .section-skills-list-upper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1rem;
    border-bottom: 1px solid #212121;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

main .section-skills .section-skills-list .section-skills-list-upper div i,
main .section-skills .section-skills-list .section-skills-list-lower div i {
    font-size: 2rem;
    padding-right: 1rem;
}

main .section-skills .section-skills-list .section-skills-list-upper div span,
main .section-skills .section-skills-list .section-skills-list-lower div span {
    font-size: 2rem;
    font-weight: 600;
}


/* ******************* */
/* FOOTER SECTION */
/* ******************* */

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

    /* margin-bottom: 9.6rem; */
}

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #c7c7cd;
    margin-top: 15rem;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.logo {
    height: 10rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
    color: #767676;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}


/* ******************* */
/* GENERAL FORM */
/* ******************* */

.wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: #212121;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

h4 {
    padding-bottom: 5px;
    color: #212121;
}

.input-group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box:last-child {
    margin-right: 0;
}

.name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.name:focus,
.dob:focus {
    -webkit-box-shadow: 0 0 2px 1px #A97D56;
    -moz-box-shadow: 0 0 2px 1px #A97D56;
    box-shadow: 0 0 2px 1px #A97D56;
    border: 1px solid #A97D56;
}

.input-box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000033;
    border-right: none;
}

.name:focus+.icon {
    background-color: #A97D56;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Roboto, Roboto, Roboto;
}

.wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: #212121;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

h4 {
    padding-bottom: 5px;
    color: #212121;
}

.input-group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box:last-child {
    margin-right: 0;
}

.name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.name:focus,
.dob:focus {
    -webkit-box-shadow: 0 0 2px 1px #A97D56;
    -moz-box-shadow: 0 0 2px 1px #A97D56;
    box-shadow: 0 0 2px 1px #A97D56;
    border: 1px solid #A97D56;
}

.input-box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000033;
    border-right: none;
}

.name:focus+.icon {
    background-color: #A97D56;
    color: #fff;
    border-right: 1px solid #A97D56;
    border: none;
    transition: 1s;
}

.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.radio {
    display: none;
}

.input-box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}

.input-box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+label {
    background-color: #A97D56;
    color: #fff;
    transition: 0.5s;
}

.input-box select {
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-box select:focus {
    background-color: #A97D56;
    color: #fff;
    text-align: center;
}

button {
    width: 100%;
    background: transparent;
    border: none;
    background: #A97D56;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}

button:hover {
    cursor: pointer;
    background: #A97D56;
}

.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.radio {
    display: none;
}

.input-box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}

.input-box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+label {
    background-color: #A97D56;
    color: #fff;
    transition: 0.5s;
}

.input-box select {
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-box select:focus {
    background-color: #A97D56;
    color: #fff;
    text-align: center;
}

button {
    width: 100%;
    background: transparent;
    border: none;
    background: #A97D56;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}

button:hover {
    cursor: pointer;
    background: #A97D56;
}